<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>考务管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/font/font-awesome.min.css">
		<!--[if IE 7]><link rel="stylesheet" href="../../css/font/font-awesome-ie7.min.css"><![endif]-->
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/examMng/core.css">
		<link rel="stylesheet" type="text/css" href="../../css/examMng/exam-org-deta.css" />
		<link rel="stylesheet" href="../../css/examMng/exam-org.css" />
		<link type="text/css" href="../../css/examMng/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
		<link type="text/css" href="../../css/examMng/jquery-ui-timepicker-addon.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/ztree/zTreeStyle.css" />

		<script src="../../js/respond.js"></script>

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>" + "<" + "/script>");
		</script>
		<!-- <![endif]-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>" + "<" + "/script>");
		</script>

		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	</head>

	<body>

		<!--head begin-->
		<div id="header" class="header headbg">
		  <div class="container">
			<!-- Logo -->
			<div class="logo pull-left" href="login_index.htm">
				<img src="../../images/logo.png" alt="系统首页">
				<h3 class="pc_title">考务管理</h3>
			</div>
			<div class="navbar-collapse pull-right nav-main-collapse collapse">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main">
						<li class="dropdown"><a class="dropdown-toggle" href="item-list.htm">题库管理</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="paper-list.htm">试卷管理</a></li>
						<li class="dropdown active"><a class="dropdown-toggle" href="exam-org.htm">考试组织</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="#">考试统计</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="daily-practice.htm">每日练习</a></li>
						<li class="dropdown mega-menu"><!-- 用户信息 -->
							<a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-user"></i> 金涛 <span class="caret"></span>
							</a>
							<ul class="dropdown-menu menu" aria-labelledby="dropdownMenu1">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i> 用户信息</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-off"></i> 退出登录</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!--head end-->
		<div class="main-container albox-pad-top padingtop0">
			<div class="panel container body-box">
				<div class="panel-heading col-lg-12 col-md-12  top-brgclr" style="height: 70px;">
					<p class=" col-lg-10 col-md-10 col-sm-10 color-fff">新增考试</p>
					<a class="color-fff floatrit aahover fontweight400" href="exam-org.htm"><span class="glyphicon glyphicon-arrow-left "></span> 返回</a>
				</div>
				<div class="panel-body minheight">
					<div class="center1 row">
						<div class="cirle0 stypebox1 ">
							1
						</div>
						<div id="" class="line-blue1 stype1 "></div>
						<div id="" class="line-blue2 stype2 "></div>
						<div class="cirle1 stype2 stypebox2">
							2
						</div>
						<div id="" class="line-blue2 stype2 "></div>
						<div id="" class="line-blue3 stype3 "></div>
						<div class="cirle1 stype3 stypebox3">
							3
						</div>
						<div class="line-blue3 stype3"></div>
						<div class="line-blue4 stype4"></div>
						<div id=" " class="cirle1 stype4 stypebox4">
							4
						</div>
					</div>
					<div class="describe-info">
						<p class="col-lg-3 col-md-3 col-sm-3 describe-info-p0">考试基本信息</p>
						<p class="col-lg-3 col-md-3 col-sm-3 describe-info-p1 stypep2">试卷配置</p>
						<p class="col-lg-3 col-md-3 col-sm-3 describe-info-p2 stypep3">人员选择</p>
						<p class="col-lg-3 col-md-3 col-sm-3 describe-info-p3 stypep4">发布考试</p>
					</div>
					<div class=" borderbottom">
					</div>
					<!--
                    	作者：306794978@qq.com
                    	时间：2016-06-22
                    	描述：第一步开始
                    -->
					<div id="stypediv1" class=" form-box col-lg-12 col-md-12 col-sm-12 stype1displaynone2">
						<form class="form-inline col-lg-12 col-md-12 col-sm-12">
							<div class="form-group col-lg-12 col-md-12 col-sm-12 padding-0">
								<div class="input-group-box col-lg-12 col-md-12 col-sm-12">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">考试名称</div>
										<input type="text" class="form-control" value="请输入考试名称" id="text1" placeholder="" onBlur="textBlur(this)" onFocus="textFocus(this)" />

									</div>
								</div>
								<div class="input-group-box col-lg-6 col-md-6 col-sm-6">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">开考时间</div>
										<input type="text" id="ui_timepicker" name="datetime"  class="ui_timepicker form-control" value="" />

									</div>
								</div>
								<div class="input-group-box col-lg-6 col-md-6 col-sm-6">
									<div class="input-group col-lg-12 col-md-12 col-sm-12 uptime">
										<div class="input-group-addon width150">考试时长</div>
										<input id="cuntverify" type="text" class="form-control " value="请设置考试时间" maxlength="3" id="text2" placeholder="" onBlur="textBlur(this)" onFocus="textFocus(this)" />
										<div class="input-group-addon borderleftnone">分钟</div>

									</div>
								</div>
								<div class="input-group-box col-lg-12 col-md-12 col-sm-12">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">考试地点</div>
										<input type="text" class="form-control" value="请输入考试地点" id="text3" placeholder="" onBlur="textBlur(this)" onFocus="textFocus(this)" />

									</div>
								</div>
								<div class="input-group-box col-lg-6 col-md-6 col-sm-6">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">考试监控</div>
										<select id="jiankong" name="jiankong" style="height:60px">
							<option value="0">有监控</option>
							<option value="1">无监控</option>
							
						</select>
									</div>
								</div>
								<div class="input-group-box col-lg-6 col-md-6 col-sm-6">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">考试方式</div>
										<select id="examway" name="examway" style="height:60px">
											<option value="0">闭　卷</option>
											<option value="1">开　卷</option>
										</select>
									</div>
								</div>
								<div class="input-group-box col-lg-6 col-md-6 col-sm-6">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">考试组织</div>
										<div  class="form-control" value="金涛" id="text4" placeholder="" >金涛</div>

									</div>
								</div>
								<div class="input-group-box col-lg-6 col-md-6 col-sm-6">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">所在单位</div>
										<div  class="form-control" value="某某市公安局法制处" id="text5" placeholder="" >某某市公安局法制处</div>

									</div>
								</div>
								<div class="input-group-box  col-lg-12 col-md-12 col-sm-12">
									<div class="input-group col-lg-12 col-md-12 col-sm-12">
										<div class="input-group-addon width150">考试简介</div>
										<input type="text" class="form-control" value="请输入考试的简要介绍" id="text6" placeholder="" onBlur="textBlur(this)" onFocus="textFocus(this)" />

									</div>
								</div>
							</div>
						</form>
					</div>
					<!--
                	作者：306794978@qq.com
                	时间：2016-06-22
                	描述：第一步结束
                -->
					<!--
                	作者：306794978@qq.com
                	时间：2016-06-22
                	描述：第二步开始
                -->
					<div id="stypediv2" class="dpynone stype2cls">

						<div id="" class="tabth">
							<table class="table" border="" cellspacing="" cellpadding="1">
								<tr>
									<th class="width7">序号</th>
									<th class="width33">试卷名称</th>
									<th class="width10">题量</th>
									<th class="width10">总分</th>
									<th class="width15">发布日期</th>
									<th class="width10">编辑人</th>
									<th class="width15">使用次数</th>
								</tr>
							</table>
						</div>
						<div class="bdr-tab">
							<table class="table" border="" cellspacing="5px" cellpadding="1">

								<tr>
									<td class="width7 bdr-rht"> <span class="glyphicon glyphicon-ok-circle okcolor"></span> </td>
									<td class="width33 colorblue1 text-left mouseol">民警执法资格考试（基本级）试卷B</td>
									<td class="width10 colorblue1">60题</td>
									<td class="width10 colorblue1">100分</td>
									<td class="width15">2016-04-23</td>
									<td class="width10">张立金</td>
									<td class="width15 colorgreen">0</td>
								</tr>
							</table>
						</div>
						<div class="bdr-tab">
							<table class="table" border="" cellspacing="5px" cellpadding="1">

								<tr>
									<td class="width7 bdr-rht"><span class="glyphicon glyphicon-ok-circle okcolor"></span></td>
									<td class="width33 colorblue1 text-left mouseol">民警执法资格考试（基本级）试卷B</td>
									<td class="width10 colorblue1">60题</td>
									<td class="width10 colorblue1">100分</td>
									<td class="width15">2016-04-23</td>
									<td class="width10">张立金</td>
									<td class="width15 colorgreen">2</td>
								</tr>
							</table>
						</div>
						<div class="bdr-tab">
							<table class="table" border="" cellspacing="5px" cellpadding="1">

								<tr>
									<td class="width7 bdr-rht"><span class="glyphicon glyphicon-ok-circle okcolor"></span></td>
									<td class="width33 colorblue1 text-left mouseol">民警执法资格考试（基本级）试卷B</td>
									<td class="width10 colorblue1">60题</td>
									<td class="width10 colorblue1">100分</td>
									<td class="width15">2016-04-23</td>
									<td class="width10">张立金</td>
									<td class="width15 colorgreen">1</td>
								</tr>
							</table>
						</div>
					</div>

					<!--
                	作者：306794978@qq.com
                	时间：2016-06-22
                	描述：第二步结束
                -->

					<!--
                	作者：306794978@qq.com
                	时间：2016-06-23
                	描述：第三步开始---------------ztree--代码在exam-org-add-exam.js
                -->
					<div id="stypediv3" class="dpynone col-lg-12 col-md-12">
						<div id="" class="col-lg-4 col-md-4 divleft-box">
							<div class="divleft">
								<div class="ztree-top">
									单位选择
								</div>
								<div class="ztree-box">
									<ul id="treeDemo" class="ztree"></ul>
								</div>
							</div>
						</div>
						<div id="" class="col-lg-4 col-md-4 divmiddle-box">
							<div id="" class="divtopleft current">
								民　　警
							</div>
							<div id="" class="divtopright ">
								协　　警
							</div>
							<li class="dropdown ropdownbox">
								<a class="name jsoshow" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">全　部<span class="caret"></span></a>
								<ul class="dropdown-menu kw-nav-name dropdownul　dropdown-menu-left">
									<li id="allpeople" class="">全　部</li>
									<li id="item-primary" class="primary1">初　级</li>
									<li id="item-intermediate" class="intermediate1">中　级</li>
									<li id="item-senior" class="senior1">高　级</li>

								</ul>
							</li>

							<div id="allchoose" class="allchoose btn btn-primary ">
								全选
							</div>
							
							<div id="" class=" divmiddle">
								<ul class="ul-left">
									<li delids="nonn" class="primary"><input type="checkbox" class="checkboxclick" name="张三" id="" value="张三" /><span class="sp-algn-left">张三</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="李四12" id="" value="李四12" /><span class="sp-algn-left">李四12</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="王五3" id="" value="王五3" /><span class="sp-algn-left">王五3</span><span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="primary"><input type="checkbox" class="checkboxclick" name="张三12" id="" value="张三12" /><span class="sp-algn-left">张三12</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="李四124" id="" value="李四124" /><span class="sp-algn-left">李四124</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="王五45" id="" value="王五45" /><span class="sp-algn-left">王五45</span><span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="primary"><input type="checkbox" class="checkboxclick" name="张三87" id="" value="张三87" /><span class="sp-algn-left">张三87</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="李四24" id="" value="李四24" /><span class="sp-algn-left">李四24</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="五123" id="" value="五123" /><span class="sp-algn-left">五123</span><span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="primary"><input type="checkbox" class="checkboxclick" name="张三11" id="" value="张三11" /><span class="sp-algn-left">张三11</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="李四22" id="" value="李四22" /><span class="sp-algn-left">李四22</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="王五44" id="" value="王五44" /><span class="sp-algn-left">王五44</span> <span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li>

								</ul>
								<ul class="ul-right dpynone">
									<li delids="nonn" class="primary "><input type="checkbox" class="checkboxclick" name="张三" id="" value="张三8" /><span class="sp-algn-left">张三8</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="54654" id="" value="李四8" /><span class="sp-algn-left">李四8</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="" id="4321" value="王五8" /><span class="sp-algn-left">王五8</span><span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="primary"><input type="checkbox" class="checkboxclick" name="" id="12312" value="张三6" /><span class="sp-algn-left">张三6</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="87" id="" value="李四6" /><span class="sp-algn-left">李四6</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="" id="435" value="王五6" /><span class="sp-algn-left">王五6</span><span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="primary"><input type="checkbox" class="checkboxclick" name="" id="17" value="张三7" /><span class="sp-algn-left">张三7</span><span class="sp-algn">······························    </span><span class="colorgray">初级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="intermediate"><input type="checkbox" class="checkboxclick" name="45" id="" value="李四7·" /><span class="sp-algn-left">李四7</span><span class="sp-algn">······························    </span><span class="colorblue">中级</span>
										<div class="wh20"></div>
									</li>
									<li delids="nonn" class="senior"><input type="checkbox" class="checkboxclick" name="777" id="" value="王五7" /><span class="sp-algn-left">王五7</span><span class="sp-algn">······························    </span><span class="colorgorange">高级</span>
										<div class="wh20"></div>
									</li><span class="sp-algn-left"></span>

								</ul>
							</div>
						</div>
						<div id="" class="col-lg-4 col-md-4 lastdiv-box">
							<div class="divlast-top current col-lg-5 col-md-5">
								选中人员
							</div>
							<div id="choosepeople" class="col-lg-4 col-md-4  text-center">
								选中　<span class="colorgreen">0</span>　人
							</div>
							<div id="allchoosedel" class="allchoose btn btn-primary  col-lg-4 col-md-4 ">
								重置
							</div>
							<div class="divlast">
								<ul id="add-del">

								</ul>
							</div>
						</div>
					</div>
					<!--
                	作者：306794978@qq.com
                	时间：2016-06-23
                	描述：第三步结束--------------ztree--代码在exam-org-add-exam.js
                -->
					<!--
                	作者：306794978@qq.com
                	时间：2016-06-27
                	描述：第四步开始--------------
                -->
					<div id="stypediv4" class="dpynone">
						<p class="colorblue text-center fontsize16">2016第三批执法(中级) <span class="clor-red">信息确认</span></p>
						<div class="tishi-info tishibrg ">
							<div class="img-box">
								<img class="" src="../../images/examMng/examorg-addexam.png" />
							</div>

							<p class="p-tishiinfo ">
								请仔细确认下列信息是否准确无误！若正确请点击下方“确认发布”按钮，系统会将本场考试信息公布并自动给每位考生推送考试通知，
								<span class="clor-red">注意：此操作无法撤回；</span> 若发现错误信息，请点击上一步按钮返回继续修改后再行发布！
							</p>
						</div>

						<div class=" padding-left-ringt30 padding-0">
							<p class="p-font-weight col-lg-12 col-md-12 col-sm-12 padding-20-0-5 ">考试组织：</p>
							<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-right-0">
								<div class="examorg-left col-lg-10 col-md-10 col-sm-10">
									<p class="p1-info col-lg-12 col-md-12 col-sm-12">
										考试状态：
										<span class="sp-clr-red">未发布</span>/
										<span class="sp-clr-oge">阅卷中...</span>/
										<span class="sp-clr-green">考试中...</span>/
										<span class="sp-clr-black">已发布</span>/
										<span class="sp-clr-gray">已公示</span>/
										<span class="sp-clr-brown">待公示</span>
									</p>

									<p class="col-lg-7 col-md-7 col-sm-7 p-info">考试时间：
										<span class="sp-clr-blue">2016-06-15 9:00-10:40</span>
									</p>
									<p class="col-lg-5 col-md-5 col-sm-5 p-info">考试时长：
										<span class="sp-clr-blue">100分钟</span>
									</p>

									<p class="p-info col-lg-7 col-md-7 col-sm-7 ">
										考试人数：
										<span class="sp-clr-blue">应到50人</span>

									</p>
									<div class="col-lg-5 col-md-5 col-sm-5 p-info padding-7-0 ">
										<div class="btn-bdr col-lg-4 col-md-4 col-sm-4 btn btn-default">
											<span class="glyphicon glyphicon-cog"></span>
											<span class="sp-clr-link-blue">查看人员</span>
										</div>
									</div>
									<p class="plast-info col-lg-12 col-md-12 col-sm-12">
										考试地点：
										<span class="sp-clr-blue">自治区公安厅**培训基地三楼310</span>
									</p>
								</div>
								<div class=" examorg-right col-lg-2 col-md-2 col-sm-2 padding-right-0">
									<img class="col-lg-12 col-md-12 col-sm-12 padding-10" src="../../images/practice/graduation22.png" />
								</div>
							</div>
						</div>
						<div class=" padding-left-ringt30 padding-0 ">
							<p class="p-font-weight col-lg-12 col-md-12 col-sm-12 padding-20-0-5 ">试卷信息：</p>
							<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-right-0 marginbtn20">
								<div class="examorg-left col-lg-10 col-md-10 col-sm-10">
									<p class="col-lg-7 col-md-7 col-sm-7 p1-info">考试试卷：
										<span class="sp-clr-blue">民警执法资格考试（中级）A卷</span>
									</p>
									<div class="col-lg-2 col-md-2 col-sm-2  padding-5-0 p-info ">
										<div class="btn-bdr col-lg-10 col-md-10 col-sm-10 btn btn-default">
											<span class="glyphicon glyphicon-cog"></span>
											<span class="sp-clr-link-blue">试卷介绍</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3  padding-5-0 p-info">
										<div class="btn-bdr-unable col-lg-7 col-md-7 col-sm-7 btn btn-default" data-toggle="tooltip" data-placement="top" title="在考试前禁止预览试卷">
											<span class="glyphicon glyphicon-eye-close"></span>
											<span class="sp-clr-link-unable">试题预览</span>
										</div>
									</div>
									<p class="col-lg-12 col-md-12 col-sm-12 p-info">对应题库：
										<span class="sp-clr-blue">人民**执法资格考试题库中级（2016）</span>
									</p>
									<p class="col-lg-7 col-md-7 col-sm-7 plast-info">题目数量：
										<span class="sp-clr-blue">50</span>
									</p>
									<p class="col-lg-5 col-md-5 col-sm-5 plast-info">试卷分值：
										<span class="sp-clr-blue">100分</span>
									</p>
								</div>
								<div class=" examorg-right col-lg-2 col-md-2 col-sm-2 padding-right-0">
									<img class="col-lg-12 col-md-12 col-sm-12 padding-10" src="../../images/practice/examorgimg.png" />
								</div>

							</div>
							<div class=" padding-left-ringt30 padding-0 ">
								<p class="p-font-weight col-lg-10 col-md-10 col-sm-10 padding-20-0-5 ">考试通知：</p>
								<p class="p-font-weight col-lg-2 col-md-2 col-sm-2 padding-20-0-5  sp-clr-blue showpointer"> <span class="glyphicon glyphicon-pencil sp-clr-blue"></span> 编辑通知</p>
								<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-0 marginbtn20">
									<div class="examorg-left col-lg-12 col-md-12 col-sm-12 padding-0">
										<div class="col-lg-12 col-md-12 col-sm-12 p1-info">
											<p class="p-left col-lg-1 col-md-1 col-sm-1">通知标题：</p>
											<p class="sp-clr-blue floatleft">关于举办2016第三批执法资格考试（中级）的通知</p>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12  padding-15-0 newsp">
											<p class="p-left col-lg-1 col-md-1 col-sm-1">通知内容：</p>
											<p class=" col-lg-10 col-md-10 col-sm-10 padding-0">
												<span id="fortextarea" class="sp-clr-blue">现定于2016年6月15日上午9:00在自治区公安厅**培训基地三楼310室举办“2016第三批执法资格考试（中级）”，请被通知的人员（详见附件）按照本通知要求，在规定时间内到指定地点参加考试，因故不能按时参加考试的人员，请在3日内与市局法制处联系。无故不参加考试者，成绩以0分记。</span>
											</p>

										</div>
										<div class="">
											<div  class="p-left">
												<img class="col-lg-12 col-md-12 col-sm-12" src="../../images/examMng/exma-notice.png" />
											</div>
									

										</div>
												<div id="martopche" class="div-margin col-lg-9 col-md-9 col-sm-9">
												<a href="">
													<span class="sp-clr-blue">附：</span>
													<span class="sp-clr-black">《2016第三批执法资格考试（中级）考试人员名单》</span>
												</a>

											</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!--
                	作者：306794978@qq.com
                	时间：2016-06-27
                	描述：第四步结束
                -->
	            <div class="stypebox">
					<div  class=" form-submit floatleft" >
						<div id="stypeback" class="btn btn-default  margintopbom "disabled="disabled">
							<i class="glyphicon glyphicon-arrow-left  lineheightx" style="margin-left:0;"></i> <span class="">上一步</span>
						</div>
					</div>
					<div class="form-submit floatrit">
						<div  id="validation" class="btn btn-info margintopbom">
							<span >下一步 </span> <span class="glyphicon glyphicon-arrow-right  lineheightx" style="margin-right:0;"></span>
						</div>
					</div>
				</div>
			</div>
				<button type="button" id="myModal123" class="btn btn-primary btn-lg dpynone" data-toggle="modal" data-target="#myModal"></button>
				<button type="button" id="myModal1234" class="btn btn-primary btn-lg dpynone" data-toggle="modal" data-target="#myModal1"></button>
				<!--footer begin-->
				<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
				</div>
				<!--footer end-->
				<!--
	作者：306794978@qq.com
	时间：2016-06-23
	描述：摸态窗口开始 
-->
				<div id="" class="">
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header brgclorblue">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">警告</h4>
								</div>
								<div class="modal-body">
									考试基本信息没项都为必填内容 请复查红框选中的条目
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="" class="">
					<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header brgclorblue">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">正在发送考试通知请耐心等待....    发送完毕自动返回首页</h4>
								</div>
								<div id="setnotice" class="modal-body minheight150">
									正在为警员xxx发送通知中......
								</div>
								<div class="modal-footer dpynone">
									<button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--
	作者：306794978@qq.com
	时间：2016-06-23
	描述：摸态窗口结束
-->
				<!--body end-->
				<!--<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>-->

				<script type="text/javascript" src="../../js/examMng/datetime.js"></script>
				<!--<script type="text/javascript" src="../../js/examMng/jquery-1.7.1.min.js"></script>-->
				<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
				<script type="text/javascript" src="../../js/examMng/jquery-ui-timepicker-addon.js"></script>
				<script type="text/javascript" src="../../js/examMng/jquery-ui-timepicker-zh-CN.js"></script>
				<script type="text/javascript" src="../../js/examMng/jquery.ztree.core.js"></script>
				<script type="text/javascript" src="../../js/jquery.selectlist.js" ></script>
				<script type="text/javascript" src="../../js/global.js"></script>
				<script type="text/javascript" src="../../js/tooltip.js"></script>
				<script type="text/javascript" src="../../js/examMng/common.js" ></script>
				<script type="text/javascript" src="../../js/examMng/exam-org-add-exam.js"></script>

	</body>
	<script type="text/javascript">
		var titleType = 0;
		//select下拉框模拟
		$(function() {
			$('#jiankong').selectlist({
				zIndex: 10,
				height: 60,
				onChange: null
			});

			$('#examway').selectlist({
				zIndex: 10,
				height: 60,
				onChange: null
			});
		});
	</script>

</html>