<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>考务管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/font/font-awesome.min.css">
		<!--[if IE 7]><link rel="stylesheet" href="../../css/font/font-awesome-ie7.min.css"><![endif]-->
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/examMng/core.css">
		<link rel="stylesheet" href="../../css/examMng/item-list.css">
		<link rel="stylesheet" href="../../css/examMng/exam-org-deta.css" />
		<script src="../../js/respond.js"></script>
	</head>

	<body>
		<!--head begin-->
		<div id="header" class="header headbg">
		  <div class="container">
			<!-- Logo -->
			<div class="logo pull-left" href="login_index.htm">
				<img src="../../images/logo.png" alt="系统首页">
				<h3 class="pc_title">考务管理</h3>
			</div>
			<div class="navbar-collapse pull-right nav-main-collapse collapse">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main">
						<li class="dropdown"><a class="dropdown-toggle" href="item-list.htm">题库管理</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="paper-list.htm">试卷管理</a></li>
						<li class="dropdown active"><a class="dropdown-toggle" href="exam-org.htm">考试组织</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="#">考试统计</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="daily-practice.htm">每日练习</a></li>
						<li class="dropdown mega-menu"><!-- 用户信息 -->
							<a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-user"></i> 金涛 <span class="caret"></span>
							</a>
							<ul class="dropdown-menu menu" aria-labelledby="dropdownMenu1">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i> 用户信息</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-off"></i> 退出登录</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!--head end  from ZYY-->
		<!--
        	作者：306794978@qq.com
        	时间：2016-06-12
        	描述：考试组织详情中间内容
        -->
		<div class="main-container albox-pad-top padingtop0">
			<div class="container body-box" style="margin-top: 25px;">
				<div class="panel-header header-bgdclr-blue ">
					
						<div class="">
							<p class="panelheader-p floatleft fontsize16">考试组织详情-<span class="sp-clr">2016第三批执法资格考试（中级）</span></p>
							<a class="panelheader-a  floatrit fontweight400" href="exam-org.htm" ><span class="glyphicon glyphicon-arrow-left "></span> 返回列表</a>
						</div>
					
				</div>
				<div class="panel-body container padding-botn50">
					<div class="">
						<div class="container padding-left-ringt30">
							<p class="panelbody-p fontsize18">2016第三批执法资格考试（中级）</p>
						</div>
						<div class=" padding-left-ringt30">
							<p class="p-font-weight col-lg-12 col-md-12 col-sm-12 padding-20-0-5 ">考试组织：</p>
							<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-right-0">
								<div class="examorg-left col-lg-10 col-md-10 col-sm-10">
									<p class="p1-info col-lg-12 col-md-12 col-sm-12">
										考试状态：
										<span class="sp-clr-red">未发布</span>/
										<span class="sp-clr-oge">阅卷中...</span>/
										<span class="sp-clr-green">考试中...</span>/
										<span class="sp-clr-black">已发布</span>/
										<span class="sp-clr-gray">已公示</span>/
										<span class="sp-clr-brown">待公示</span>
									</p>

									<p class="col-lg-7 col-md-7 col-sm-7 p-info">考试时间：
										<span class="sp-clr-blue">2016-06-15 9:00-10:40</span>
									</p>
									<p class="col-lg-5 col-md-5 col-sm-5 p-info">考试时长：
										<span class="sp-clr-blue">100分钟</span>
									</p>

									<p class="p-info col-lg-7 col-md-7 col-sm-7 ">
										考试人数：
										<span class="sp-clr-blue">应到50人，实到</span>
										<span class="sp-clr-green">48</span>
										<span class="sp-clr-blue">人.</span>
									</p>
									<div class="col-lg-5 col-md-5 col-sm-5 p-info padding-7-0">
										<div class="btn-bdr col-lg-4 col-md-4 col-sm-4 btn btn-default">
											<span class="glyphicon glyphicon-cog"></span>
											<span class="sp-clr-link-blue">查看人员</span>
										</div>
									</div>
									<p class="plast-info col-lg-12 col-md-12 col-sm-12">
										考试地点：
										<span class="sp-clr-blue">自治区公安厅**培训基地三楼310</span>
									</p>
								</div>
								<div class=" examorg-right col-lg-2 col-md-2 col-sm-2 padding-right-0">
									<img class="col-lg-12 col-md-12 col-sm-12 padding-10" src="../../images/practice/graduation22.png" />
								</div>
							</div>
						</div>
						<div class=" padding-left-ringt30">
							<p class="p-font-weight col-lg-12 col-md-12 col-sm-12 padding-20-0-5 ">试卷信息：</p>
							<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-right-0 ">
								<div class="examorg-left col-lg-10 col-md-10 col-sm-10">
									<p class="col-lg-7 col-md-7 col-sm-7 p1-info">考试试卷：
										<span class="sp-clr-blue">民警执法资格考试（中级）A卷</span>
									</p>
									<div class="col-lg-2 col-md-2 col-sm-2  padding-5-0 p-info">
										<div class="btn-bdr col-lg-10 col-md-10 col-sm-10  btn btn-default">
											<span class="glyphicon glyphicon-btn btn-default " ></span>
											<span class="sp-clr-link-blue">试卷介绍</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3  padding-5-0 p-info">
										<div class="btn-bdr-unable col-lg-7 col-md-7 col-sm-7  btn btn-default" data-toggle="tooltip" data-placement="top" title="在考试前禁止预览试卷">
											<span class="glyphicon glyphicon-eye-close"></span>
											<span class="sp-clr-link-unable">试题预览</span>
										</div>
									</div>
									<p class="col-lg-12 col-md-12 col-sm-12 p-info">对应题库：
										<span class="sp-clr-blue">人民**执法资格考试题库中级（2016）</span>
									</p>
									<p class="col-lg-7 col-md-7 col-sm-7 plast-info">题目数量：
										<span class="sp-clr-blue">50</span>
									</p>
									<p class="col-lg-5 col-md-5 col-sm-5 plast-info">试卷分值：
										<span class="sp-clr-blue">100分</span>
									</p>
								</div>
								<div class=" examorg-right col-lg-2 col-md-2 col-sm-2 padding-right-0">
									<img class="col-lg-12 col-md-12 col-sm-12 padding-10" src="../../images/practice/examorgimg.png" />
								</div>
							</div>
						</div>
						<div class=" padding-left-ringt30">
							<p class="p-font-weight col-lg-12 col-md-12 col-sm-12 padding-20-0-5 ">阅卷信息：</p>
							<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-10">
								<div class="examorg-left col-lg-12 col-md-12 col-sm-12 paddingtopbtn-8">
									<span class="plast-info sp-clr-blue ">当前试卷无需人工阅卷</span>
								</div>
							</div>
						</div>
						<div class="  padding-left-ringt30">
							<p class="p-font-weight col-lg-12 col-md-12 col-sm-12 padding-20-0-5 ">成绩公示：</p>
							<div class="bdr col-lg-12 col-md-12 col-sm-12 padding-right-0">
								<div class="examorg-left col-lg-10 col-md-10 col-sm-10">
									<p class="col-lg-7 col-md-7 col-sm-7 p1-info">公示状态：
										<span class="sp-clr-red">未公示</span>
									</p>
									<div class="col-lg-2 col-md-2 col-sm-2  padding-5-0 p-info" >
										<div class="btn-bdr-unable col-lg-10 col-md-10 col-sm-10 btn btn-default "data-toggle="tooltip" data-placement="top" title="在考试结束前无法查看成绩" >
											<span class="glyphicon glyphicon-eye-open"></span>
											<span class="sp-clr-link-unable">成绩查看</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3  padding-5-0 p-info">
										<div class="btn-bdr-unable col-lg-7 col-md-7 col-sm-7  btn btn-default"data-toggle="tooltip" data-placement="top" title="在考试结束前禁止公示成绩">
											<span class="glyphicon glyphicon-eye-open"></span>
											<span class="sp-clr-link-unable">成绩公示</span>
										</div>
									</div>
									<p class="col-lg-12 col-md-12 col-sm-12 p-info">公示日期：
										<span class="sp-clr-blue">-</span>
									</p>
									<p class="col-lg-5 col-md-5 col-sm-5 plast-info">公示人员：
										<span class="sp-clr-blue">-</span>
									</p>
								</div>
								<div class=" examorg-right col-lg-2 col-md-2 col-sm-2 padding-right-0">
									<img class="col-lg-12 col-md-12 col-sm-12 padding-10" src="../../images/practice/exam.png" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--footer begin-->
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
		</div>
		</div>
		<!--body end-->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>" + "<" + "/script>");
		</script>
		<!-- <![endif]-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>" + "<" + "/script>");
		</script>

		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/tooltip.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
 				 $('[data-toggle="tooltip"]').tooltip()
			})
		</script>
	</body>

</html>