<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/examMng/core.css">
		<link rel="stylesheet" type="text/css" href="../../css/examMng/paperMng.css">
		<script src="../../js/respond.js"></script>
		
	
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
				
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
		<script src="../../js/jquery.selectlist.js" ></script>
	</head>
	<body>
		<!--head begin-->
		<div id="header" class="header headbg">
		  <div class="container">
			<!-- Logo -->
			<div class="logo pull-left" href="login_index.htm">
				<img src="../../images/logo.png" alt="系统首页">
				<h3 class="pc_title">考务管理</h3>
			</div>
			
		</div>
		<!--head end-->
		
		<!--body begin-->
		<div class="main-container">
			<div class="container body-box">
				<div class="title-top">
					<p>民警执法资格等级考试试卷（中级）A卷</p>
					<a href="javascript:window.close();" class="retun"><i class="glyphicon glyphicon-remove"></i>关闭</a>
				</div>
				<div class="paper-content">
					<div class="outcontent">
						<!--步骤 begin-->
						
						<!--步骤 end-->
						<!--试卷发布 begin-->
						<div class="issue-content"style="border: none;">
							<p class="issue-title">试卷介绍</p>
							<div class="border blue">
								<table class="issue-table" cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td class="bcolor">民警执法资格考试试卷（中级）A卷</td>
										<td width="15%" align="center" class="bcolor">100分</td>
										<td width="15%" align="center">2016-05-06</td>
										<td width="15%" align="center">金涛</td>
										<td width="15%" align="center"><i class="glyphicon glyphicon-eye-open"></i><a href="#">试卷预览</a></td>
									</tr>
								</table>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">试卷介绍：</p>
								<p>试卷使用2016年公安部执法资格考试中级题库，适合正式公安民警，且通过了执法初级资格考试认证的人员使用难度中等，题量小。且通过了执法初级资格考试认证的人员使用，难度中等，题量小。</p>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">考试题库：</p>
								<p class="font-weight">人民**执法资格考试题库中级（2016）</p>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">题型构成：</p>
								<div>
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<span class="font-weight">1、判断题</span><span class="text-color">（10道，2分/题）</span>
										</div>
										<div class="col-lg-8 col-md-8 padding-0"><div class="border-bottom"></div></div>
										<div class="col-lg-1 col-md-1 padding-0 text-right text-color">20分</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<span class="font-weight">2、单项选择</span><span class="text-color">（10道，2分/题）</span>
										</div>
										<div class="col-lg-8 col-md-8 padding-0"><div class="border-bottom"></div></div>
										<div class="col-lg-1 col-md-1 padding-0 text-right text-color">40分</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<span class="font-weight">3、多项选择</span><span class="text-color">（10道，2分/题）</span>
										</div>
										<div class="col-lg-8 col-md-8 padding-0"><div class="border-bottom"></div></div>
										<div class="col-lg-1 col-md-1 padding-0 text-right text-color">40分</div>
									</div>
								</div>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">知识点构成：</p>
								<div>
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<span class="font-weight">1、社会主义法治理念</span><span class="text-color">（3道）</span>
										</div>
										<div class="col-lg-8 col-md-8 padding-0"><div class="border-bottom"></div></div>
										<div class="col-lg-1 col-md-1 padding-0 text-right text-color">6分</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<span class="font-weight">2、宪法</span><span class="text-color">（5道）</span>
										</div>
										<div class="col-lg-8 col-md-8 padding-0"><div class="border-bottom"></div></div>
										<div class="col-lg-1 col-md-1 padding-0 text-right text-color">10分</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<span class="font-weight">3、人民**法</span><span class="text-color">（8道）</span>
										</div>
										<div class="col-lg-8 col-md-8 padding-0"><div class="border-bottom"></div></div>
										<div class="col-lg-1 col-md-1 padding-0 text-right text-color">16分</div>
									</div>
								</div>
							</div>
						</div>
						<!--试卷发布 end-->
						
					</div>
				</div>
			</div>
		</div>
		<!--body end-->
		
		<!--发布试卷按钮弹窗-->
		
		<!--发布试卷按钮弹窗-->
		
		<!--footer begin-->
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
		
		
		<script>
			//打开模态窗口
			$('#close-cn').modal({backdrop: 'static', keyboard: false , show: false});
		</script>
	</body>
</html>

