<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/examMng/paperMng.css">
		<script src="../../js/respond.js"></script>
		
	
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
				
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
	</head>
	<body>
		<!--head begin-->
		<div id="header" class="header headbg">
		  <div class="container">
			<!-- Logo -->
			<div class="logo pull-left" href="login_index.htm">
				<img src="../../images/logo.png" alt="系统首页">
				<h3 class="pc_title">考务管理</h3>
			</div>
			<div class="navbar-collapse pull-right nav-main-collapse collapse">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main">
						<li class="dropdown"><a class="dropdown-toggle" href="item-list.htm">题库管理</a></li>
						<li class="dropdown active"><a class="dropdown-toggle" href="paper-list.htm">试卷管理</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="exam-org.htm">考试组织</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="#">考试统计</a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="daily-practice.htm">每日练习</a></li>
						<li class="dropdown mega-menu"><!-- 用户信息 -->
							<a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-user"></i> 金涛 <span class="caret"></span>
							</a>
							<ul class="dropdown-menu menu" aria-labelledby="dropdownMenu1">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i> 用户信息</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-off"></i> 退出登录</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!--head end-->
		
		<!--body begin-->
		<div class="main-container">
			<div class="container body-box">
				<div class="title-top">
					<p>民警执法资格等级考试试卷（中级）A卷——<span class="rcolor">试卷介绍</span></p>
					<a href="javascript:history.go(-1);" class="retun"><i class="glyphicon glyphicon-arrow-left"></i>返回</a>
				</div>
				<div class="paper-content">
					<div class="outcontent">
						<!--试卷发布 begin-->
						<div class="issue-content">
							<p class="issue-title">试卷介绍</p>
							<div class="border blue">
								<table class="issue-table" cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td class="bcolor">民警执法资格考试试卷（中级）A卷</td>
										<td width="15%" align="center" class="bcolor">100分</td>
										<td width="15%" align="center">2016-05-06</td>
										<td width="15%" align="center">金涛</td>
										<td width="15%" align="center"><i class="glyphicon glyphicon-eye-open"></i><a href="#">试卷预览</a></td>
									</tr>
								</table>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">试卷介绍：</p>
								<p>试卷使用2016年公安部执法资格考试中级题库，适合正式公安民警，且通过了执法初级资格考试认证的人员使用难度中等，题量小。且通过了执法初级资格考试认证的人员使用，难度中等，题量小。</p>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">考试题库：</p>
								<p class="font-weight">人民**执法资格考试题库中级（2016）</p>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">题型构成：</p>
								<div>
									<div class="xuxian_bg">
										<span class="font-weight pd_title">一、判断题（10道，2分/题）</span>
										<span class="text-color pd_scorll">20分</span>
									</div>
									<div class="xuxian_bg">
										<span class="font-weight pd_title">二、单项选择题（10道，2分/题）</span>
										<span class="text-color pd_scorll">20分</span>
									</div>
									<div class="xuxian_bg">
										<span class="font-weight pd_title">三、多项选择题（10道，2分/题）</span>
										<span class="text-color pd_scorll">20分</span>
									</div>
								</div>
							</div>
							<div class="issue-introduce">
								<p class="redcolor">知识点构成：</p>
								<div>
									<div class="xuxian_bg">
										<span class="font-weight pd_title">一、社会主义法治理念<span class="text-color fontnone">（3道）</span></span>
										<span class="text-color pd_scorll">20分</span>
									</div>
									<div class="xuxian_bg">
										<span class="font-weight pd_title">一、宪法<span class="text-color fontnone">（5道）</span></span>
										<span class="text-color pd_scorll">20分</span>
									</div>
									<div class="xuxian_bg">
										<span class="font-weight pd_title">一、人民**法<span class="text-color fontnone">（8道）</span></span>
										<span class="text-color pd_scorll">20分</span>
									</div>
								</div>
							</div>
						</div>
						<!--试卷发布 end-->
						<div class="btnbox">
							<a class="btn btn-success" onclick="javascript:window.location.href='paper-add-deploy.htm';"><i class="glyphicon glyphicon-arrow-left" style="margin-left:0;"></i>上一步</a>
							<a class="btn btn-info" href="#close-cn" data-toggle="modal">试卷发布</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--body end-->
		
		<!--发布试卷按钮弹窗-->
		<div id="close-cn" class="modal fade" tabindex="-1">
		    <div class="modal-dialog">
		        <div class="modal-content">
		        	<!--发布试卷header开始-->
		            <div class="modal-header">
		                <div class="table-header border-top-radius">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		                        <span class="white">&times;</span>
		                    </button>
		                    	发布试卷
		                </div>
		            </div>
		        	<!--发布试卷header结束-->
		        	<!--发布试卷body开始-->
		            <div class="modal-body">
		            	<div class="text-left">
		            		试卷发布后，将不能再对试题进行预览或修改试卷配置，直至采用该试卷的考试结束。试卷发布成功后，可在考试组织中使用该试卷！
		                </div>
		            </div>
		        	<!--发布试卷body结束-->
		        	<!--发布试卷footer开始-->
		            <div class="modal-footer">
		                <button class="btn btn-sm btn-danger" data-dismiss="modal">
		                    <i class="glyphicon glyphicon-remove"></i>取消
		                </button>
		            	<button class="btn btn-sm btn-success" data-dismiss="modal" id="sure-close">
		                    <i class="glyphicon glyphicon-ok"></i>确定
		                </button>
		            </div>
		        	<!--发布试卷footer结束-->
		        </div>
		    </div>
		</div>
		<!--发布试卷按钮弹窗-->
		
		<!--footer begin-->
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
		
		
		<script>
			//打开模态窗口
			$('#close-cn').modal({backdrop: 'static', keyboard: false , show: false});
		</script>
	</body>
</html>
