<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<!--[if IE 7]><link rel="stylesheet" href="../css/font/font-awesome-ie7.min.css"><![endif]-->
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/practice/core.css">
		<link rel="stylesheet" type="text/css" href="../../css/practice/test-system.css">
		<script src="../../js/respond.js"></script>
		<script src="../../js/practice/textarea.js"></script>
		
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		
		<script src="../../js/bootstrap.min.js"></script>
		
	</head>
	<body style="background-color: #e4ebf4;">
		<!--head begin-->
		<div class="headbg position_fixed">
			<div class="container header">
				<div class="navheader">
					<p class="nav-title">在线练习考试系统</p>
					<div class="nav-right">
						<a class="btn btn-info record"><i class="glyphicon glyphicon-time"></i>历史考试记录</a>
					</div>
				</div>
			</div>
		</div>
		<!--head end-->
		
		<!--body begin-->
		<div class="container exam_content">
			<p class="new_title">您好，张振川！您有新的考试科目!</p>
			<div class="exam_top">
				<span class="message">考试通知</span>
			</div>
			<P class="sorry">抱歉，近期尚未给您安排考试，请尽快完成练习任务以便获取考试资格！</P>
			<div class="exam_tip">
				<p class="notice">注意事项：</p>
				<ul class="notice_main">
					<li>带有摄像头图标<i class="glyphicon glyphicon-facetime-video"></i>的考试为有摄像头监控的考试，开考前请务必做好电脑摄像头的调试工作，确保摄像头工作正常且能够清晰的拍摄到考试人员的正面照片，否则本场考试无效；（ <a href="#">点击此处对摄像头进行测试</a>） </li>
					<li>答题开始后系统会自动计时，考试时间结束系统自动交卷；</li>
					<li>靠前请关闭屏幕保护以及其他可能出现弹窗的应用程序，以免对考试造成影响；</li>
					<li>考试过程中请勿关闭、最小化或切换考试窗口页面</li>
					<li>断电、网络中断、系统重新启动等情况下，请从新登陆并进入考试页面，可在上次中断出继续答题；</li>
				</ul>
			</div>
		</div>
		<!--body end-->
	 
		<!--footer begin-->
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
	</div>
		
		<!--footer end-->
		
		
	</body>
</html>
