<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<!--[if IE 7]><link rel="stylesheet" href="../css/font/font-awesome-ie7.min.css"><![endif]-->
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/practice/test-system.css">
		<link rel="stylesheet" type="text/css" href="../../css/practice/core.css">
		<script src="../../js/respond.js"></script>
		<script src="../../js/practice/textarea.js"></script>
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../js/practice/time.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function () 
		      { $("[data-toggle='popover']").popover();
		    });
		</script>
		
	</head>
	<body style="background-color: #e7eff9;">
		<!--head begin-->
		<div class="headbg position_fixed">
			<div class="container header">
				<div class="navheader">
					<div class="nav-title">
						考试中心
					</div>
					<div class="right-search">
						<div class="form-group has-success has-feedback" >
						  <input type="text" class="form-control search" placeholder="请输入检索条件" >
						  <span class="glyphicon glyphicon-search form-control-feedback search_ico" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--head end-->
		
		<!--body begin-->
		<div class="container margin-top-75">
			<div class="kszx_bg body-box">
				<div class="lsjl_top">
					<span class="lsjlbox">历史记录</span>
					<span class="name">——张振川</span>
				</div>
				<ul class="kszx_main">
					<li>
						<span class="kszx_num">1</span>
						<div class="kszx_title_box">
							<a href="exam-wrong.html">
								<table class="table" cellpadding="0" cellspacing="0">
									<tr>
										<td class="time" width="10%" align="center">2016-06-25</td>
										<td class="word">某某市公安局2016年度第二批执法资格考试（中级）</td>
										<td width="8%" align="center"><span class="glyphicon glyphicon-facetime-video"></span></td>
										<td class="score" width="10%" align="center">阅卷中...</td>
									</tr>
								</table>
							</a>
						</div>
					</li>
					<li>
						<span class="kszx_num">2</span>
						<div class="kszx_title_box">
							<a href="exam-wrong.html">
								<table class="table" cellpadding="0" cellspacing="0">
									<tr>
										<td class="time" width="10%" align="center">2016-06-25</td>
										<td class="word">某某市公安局2016年度第二批执法资格考试（中级）</td>
										<td width="8%" align="center"><span class="glyphicon glyphicon-facetime-video"></span></td>
										<td class="score bjg" width="10%" align="center">52分</td>
									</tr>
								</table>
							</a>
						</div>
					</li>
					<li>
						<span class="kszx_num">3</span>
						<div class="kszx_title_box">
							<a href="exam-wrong.html">
								<table class="table" cellpadding="0" cellspacing="0">
									<tr>
										<td class="time" width="10%" align="center">2016-06-25</td>
										<td class="word">某某市公安局2016年度第二批执法资格考试（中级）</td>
										<td width="8%" align="center"><span class="glyphicon glyphicon-facetime-video"></span></td>
										<td class="score jg" width="10%" align="center">69分</td>
									</tr>
								</table>
							</a>
						</div>
					</li>
					<li>
						<span class="kszx_num">4</span>
						<div class="kszx_title_box">
							<a href="exam-wrong.html">
								<table class="table" cellpadding="0" cellspacing="0">
									<tr>
										<td class="time" width="10%" align="center">2016-06-25</td>
										<td class="word">某某市公安局2016年度第二批执法资格考试（中级）</td>
										<td width="8%" align="center"><span class="glyphicon glyphicon-facetime-video"></span></td>
										<td class="score jg" width="10%" align="center">69分</td>
									</tr>
								</table>
							</a>
						</div>
					</li>
					<li>
						<span class="kszx_num">5</span>
						<div class="kszx_title_box">
							<a href="exam-wrong.html">
								<table class="table" cellpadding="0" cellspacing="0">
									<tr>
										<td class="time" width="10%" align="center">2016-06-25</td>
										<td class="word">某某市公安局2016年度第二批执法资格考试（中级）</td>
										<td width="8%" align="center"><span class="glyphicon glyphicon-facetime-video"></span></td>
										<td class="score bjg" width="10%" align="center">69分</td>
									</tr>
								</table>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--body end-->
	 
		<!--footer begin-->
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
	</body>
</html>
