<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<!--[if IE 7]><link rel="stylesheet" href="../css/font/font-awesome-ie7.min.css"><![endif]-->
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/practice/test-system.css">
		<script src="../../js/respond.js"></script>
		<script src="../../js/practice/textarea.js"></script>
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../js/practice/time.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/practice/toTop.js"></script>
		<script type="text/javascript">
			$(function () 
		      { $("[data-toggle='popover']").popover();
		   });
		</script>
		
	</head>
	<body style="background-color: #e7eff9;">
		<!--head begin-->
		<div class="headbg position_fixed">
			<div class="container header">
				<div class="navheader">
					<div class="left-title">
						考试中心
					</div>
					<div class="middle-title">
						某某市公安局2016年度第二批执法资格考试（中级）
					</div>
					<div class="right-title">
						78分						
					</div>
				</div>
			</div>
		</div>
		<!--head end-->
		
		
		<!--
        	作者：454591990@qq.com
        	时间：2016-07-05
        	描述：右边固定菜单
        -->
        <div class="right_nav btn-group-vertical">
        	<a class="btn btn-success nav_dr">
        		<i class="glyphicon glyphicon-eye-open"></i>
        		<p>只看错题</p>
        	</a>
        	<a class="btn btn-success nav_dr">
        		<i class="glyphicon glyphicon-log-out"></i>
        		<p>试卷导出</p>
        	</a>
        	<a href="javascript:;" id="toTop" class="btn btn-success nav_dr">
        		<i class="glyphicon glyphicon-log-out"></i>
        		<p>返回顶部</p>
        	</a>
        </div>
		
		<!--body begin-->
		<div class="container margin-top-75 exam_wrong_main">
			<ul class="picture">
				<li>
					<img src="../../images/practice/picture.jpg" class="img-thumbnail">
					<p>本人照片</p>
				</li>
				<li>
					<img src="../../images/practice/picture.jpg" class="img-thumbnail">
					<p>开考1分钟</p>
				</li>
				<li>
					<img src="../../images/practice/picture.jpg" class="img-thumbnail">
					<p>开考30分钟</p>
				</li>
				<li>
					<img src="../../images/practice/picture.jpg" class="img-thumbnail">
					<p>开考60分钟</p>
				</li>
			</ul>
			<div class="wrong_box">
				<!--判断题答案 begin-->
				<div>
					<div class="single-container">
						<div class="single-title">
							<span class="font-title">一、判断题</span>
							<span class="grey_color">（10道，每题2分，共20分）</span>
							<span class="right_title"><i class="glyphicon glyphicon-ok-sign"></i>6</span>
							<span class="wrong_title"><i class="glyphicon glyphicon-remove-sign"></i>4</span>
							<span class="green_color">12分</span>
						</div>
					</div>
					<div class="problem">
						<div class="single-main">
							<p>1.社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。</p>
						</div>
						<div class="choose-box">
							<div class="radio">
								<label class="correct-box blue-border">
									<i class="glyphicon glyphicon-remove-sign "></i>
									<p><span>A</span>&nbsp;正确</p>
								</label>
							</div>
							<div class="radio">
								<label class="wrong-box default-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>B</span>&nbsp;错误</p>
								</label>
							</div>
						</div>
						<div class="answer-box">
							<span class="right-line"></span>
							<span>正确答案：<b>B</b></span>
						</div>
						<div class="answer-box">
							<span class="right-line-blue"></span>
							<span>考生答案：<b class="redcolor">A</b></span>
						</div>
					</div>
					<div class="problem">
						<div class="single-main">
							<p>2.社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。</p>
						</div>
						<div class="choose-box">
							<div class="radio">
								<label class="wrong-box  blue-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>A</span>&nbsp;正确</p>
								</label>
							</div>
							<div class="radio">
								<label class="correct-box default-border">
									<input type="radio" disabled="disabled">
									<p><span>B</span>&nbsp;错误</p>
								</label>
							</div>
						</div>
						<div class="answer-box">
							<span class="right-line"></span>
							<span>正确答案：<b>A</b></span>
						</div>
						<div class="answer-box">
							<span class="right-line-blue"></span>
							<span>考生答案：<b>A</b></span>
						</div>
					</div>
					<div class="problem">
						<div class="single-main">
							<p>3.社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。</p>
						</div>
						<div class="choose-box">
							<div class="radio">
								<label class="correct-box default-border">
									<input type="radio" disabled="disabled">
									<p><span>A</span>&nbsp;正确</p>
								</label>
							</div>
							<div class="radio">
								<label class="wrong-box blue-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>B</span>&nbsp;错误</p>
								</label>
							</div>
						</div>
						<div class="answer-box">
							<span class="right-line"></span>
							<span>正确答案：<b>B</b></span>
						</div>
						<div class="answer-box">
							<span class="right-line-blue"></span>
							<span>考生答案：<b>B</b></span>
						</div>
					</div>
				</div>
				<!--判断题答案 end-->	
			</div>
			<div class="wrong_box">
				<!--单选题 begin-->
				<div>
					<div class="single-container">
						<div class="single-title">
							<span class="font-title">二、单选题</span>
							<span class="grey_color">（20道，每题2分，共40分）</span>
							<span class="right_title"><i class="glyphicon glyphicon-ok-sign"></i>17</span>
							<span class="wrong_title"><i class="glyphicon glyphicon-remove-sign"></i>3</span>
							<span class="green_color">34分</span>
						</div>
					</div>
					<div class="problem">
						<div class="single-main">
							<p>1.社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。</p>
						</div>
						<div class="choose-box">
							<div class="radio">
								<label class="wrong-box default-border">
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" disabled>
									<p><span>A</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关</p>
								</label>
							</div>
							<div class="radio">
								<label class="wrong-box default-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>B</span>&nbsp;政法干警既是执法司法工作者，也是群众工作者。政法干警既是执法司法工作者，也是群众工作者</p>
								</label>
							</div>
							<div class="radio">
								<label class="wrong-box default-border">
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
									<p><span>C</span>&nbsp;人民群众是执法主体，法制建设要坚持群众运动</p>
								</label>
							</div>
							<div class="radio">
								<label class="correct-box blue-border">
									<i class="glyphicon glyphicon-remove-sign"></i>
									<p><span>D</span>&nbsp;政法干警既是执法司法工作者，也是群众工作者.政法干警既是执法司法工作者，也是群众工作者</p>
								</label>
							</div>
						</div>
						<div class="answer-box">
							<span class="right-line"></span>
							<span>正确答案：<b>B</b></span>
						</div>
						<div class="answer-box">
							<span class="right-line-blue"></span>
							<span>考生答案：<b class="redcolor">D</b></span>
						</div>
					</div>
				</div>
				<!--单选题 end-->	
			</div>
			<div class="wrong_box">
				<!--多选题 begin-->
				<div>
					<div class="single-container">
						<div class="single-title">
							<span class="font-title">二、单选题</span>
							<span class="grey_color">（20道，每题2分，共40分）</span>
							<span class="right_title"><i class="glyphicon glyphicon-ok-sign"></i>16</span>
							<span class="wrong_title"><i class="glyphicon glyphicon-remove-sign"></i>4</span>
							<span class="green_color">32分</span>
						</div>
					</div>
					<div class="problem">
						<div class="single-main">
							<p>6.社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。</p>
						</div>
						<div class="choose-box">
							<div class="checkbox">
								<label class="wrong-box blue-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>A</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关。政法机关既是执法司法机关</span></p>
								</label>
							</div>
							<div class="checkbox">
								<label class="correct-box default-border">
									<input type="checkbox" value="" disabled>
									<p><span>B</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关。政法机关既是执法司法机关</p>
								</label>
							</div>
							<div class="checkbox">
								<label class="wrong-box blue-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>C</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关。政法机关既是执法司法机关</p>
								</label>
							</div>
							<div class="checkbox">
								<label class="wrong-box default-border">
									<input type="checkbox" value="" disabled>
									<p><span>D</span>&nbsp;司法权必须坚持专门机关工作与群众路线相结合</p>
								</label>
							</div>
						</div>
						<div class="answer-box">
							<span class="right-line"></span>
							<span>正确答案：<b>A C</b></span>
						</div>
						<div class="answer-box">
							<span class="right-line-blue"></span>
							<span>考生答案：<b>A C</b></span>
						</div>
					</div>
					<div class="problem">
						<div class="single-main">
							<p>6.社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。社会主义法制理念的基本含义就是社会主义法制的精髓和灵魂，是立法、执法、司法、守法和法律监督等法制领域的基本知道思想。</p>
						</div>
						<div class="choose-box">
							<div class="checkbox">
								<label class="wrong-box default-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>A</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关。政法机关既是执法司法机关</span></p>
								</label>
							</div>
							<div class="checkbox">
								<label class="correct-box blue-border">
									<i class="glyphicon glyphicon-remove-sign "></i>
									<p><span>B</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关。政法机关既是执法司法机关</p>
								</label>
							</div>
							<div class="checkbox">
								<label class="wrong-box blue-border">
									<i class="glyphicon glyphicon-ok-sign"></i>
									<p><span>C</span>&nbsp;政法机关既是执法司法机关，也是群众工作机关。政法机关既是执法司法机关</p>
								</label>
							</div>
							<div class="checkbox">
								<label class="wrong-box default-border">
									<input type="checkbox" value="" disabled>
									<p><span>D</span>&nbsp;司法权必须坚持专门机关工作与群众路线相结合</p>
								</label>
							</div>
						</div>
						<div class="answer-box">
							<span class="right-line"></span>
							<span>正确答案：<b>A C</b></span>
						</div>
						<div class="answer-box">
							<span class="right-line-blue"></span>
							<span>考生答案：<b class="redcolor">B C</b></span>
						</div>
					</div>
				</div>
				<!--多选题 end-->	
			</div>
		</div>
		<!--body end-->
	 
		<!--footer begin-->
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
	</body>
	
</html>
