<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/practice/items.css" />

		<!--[if lt IE 9]>
		<script src="../../js/html5shiv.js"></script>
		<script src="../../js/respond.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="../../js/html5.js"></script>
		<script type="text/javascript" src="../../js/respond.js"></script>
	</head>

	<body>
		<!--head begin-->
		<div id="header" class="header headbg">
		  <div class="container">
				<!-- Logo -->
				<div class="logo pull-left" href="login_index.htm">
					<img src="../../images/logo.png" alt="系统首页">
					<h3 class="pc_title">执法资格练习考试系统</h3>
				</div>
				<div class="navbar-collapse pull-right nav-main-collapse collapse">
					<nav class="nav-main">
						<ul id="topMain" class="nav nav-pills nav-main">
							<li class="dropdown active"><a class="dropdown-toggle" href="../login_index.htm">首 页</a></li>
							<li class="dropdown mega-menu"><a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">练习中心 <span class="caret"></span></a>
								<ul class="dropdown-menu menu" aria-labelledby="dropdownMenu1">
									<li><a href="#"><i class="glyphicon glyphicon-time"></i> 每日推送</a></li>
									<li><a href="item-list.htm"><i class="glyphicon glyphicon-th-list"></i> 顺序练习</a></li>
									<li><a href="#"><i class="glyphicon glyphicon-remove-circle"></i> 错题练习</a></li>
								</ul>
							</li>
							<li class="dropdown"><a class="dropdown-toggle" href="exam-center.html">考试中心</a></li>
							<li class="dropdown mega-menu">
								<a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<i class="glyphicon glyphicon-user"></i> 
									金涛
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu menu" aria-labelledby="dropdownMenu1">
									<li><a href="#"><i class="glyphicon glyphicon-user"></i> 用户信息</a></li>
									<li><a href="#"><i class="glyphicon glyphicon-off"></i> 退出登录</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!--head end-->

		<div class="main-container bgcolor body-box container paddingtop20">
		<div class="middle-bdr container">
			<div class="">
				<div class=" middle ">

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 middle-left">
						<div class=" col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-left-btn2">
						<div class=" col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-left-btn1">
							<span style="float: left; font-size: 16px;">当前积分：</span>
							<span style="color: #FFFF00;float: left;margin-top: 2px;">12分</span>
							<span style="font-size: 14px; float: right;margin-top: 2px;">积分规则</span> 
						</div>
						
						</div>
						
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12  middle-left-book ">
							<div class=" col-md-12 col-xs-12 col-lg-12 col-sm-12 container middle-left-img">
								<div id="imgdisplaynone" class="col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<img class="col-md-12 col-xs-12 col-lg-12 col-sm-12" src="../../images/practice/sfks.jpg" />
								</div>
								<p class=" col-md-12 col-xs-12 col-lg-12 col-sm-12 middle-left-p0">人民**执法资格考试题库基本级（2016）</p>
								<div class="progress-my progress-striped-my col-md-12 col-xs-12 col-lg-12 col-sm-12 KaoshiXinXi-btn-jindutiao">
									<div class="progress-bar-my progress-bar-success-my " style="width:80%"> 80%</div>
								</div>
								<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12  middle-left-info">
									
									<p class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
										<a class="col-xs-5 col-lg-5 col-sm-5 col-md-5 middle-left-p3 ple">试题数量：</a><a  class="col-xs-7 col-lg-7 col-sm-7 col-md-7 rscol">11章/3233题 </a>
									</p>
									<p class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
										<a class="col-xs-5 col-lg-5 col-sm-5 col-md-5 middle-left-p4 ple">最近练习：</a><a class="col-xs-7 col-lg-7 col-sm-7 col-md-7 rscol"> <span class="tbsp"> 第一章/单项选择/11题 </span></a>
									</p>
									<p class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
										<a class="col-xs-5 col-lg-5 col-sm-5 col-md-5 middle-left-p2 ple">练习统计：</a><a class="col-xs-7 col-lg-7 col-sm-7 col-md-7 rscol"><span class="tbsp">已练56题/正确53题 </span></a>
									</p>
									<p class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
										<a class="col-xs-5 col-lg-5 col-sm-5 col-md-5 middle-left-p5 ple">正 确 率 ：</a><a  class="col-xs-7 col-lg-7 col-sm-7 col-md-7 rscol">82%</a>
									</p>
									
								</div>
							</div>
						</div>
						
						<a href="item-list.htm">
							<div class="btn btn-info col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-left-btn for769">选择其他题库..</div>
						</a>
					</div>
					
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 middle-right">
						<div class="middle-righttopdiv">
							<p class="middle-righttopdiv-p"> <span class="glyphicon glyphicon-triangle-bottom sptopdiv">顺序练习</span> <span class="sp-ne">（点击下列知识点可打开对应章节的试题进行练习）</span></p>
						</div>
						<div class=" col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p1" class="  col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第一章：社会主义法治理念 </p>
								<p class="  col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:60%"></div>
								</div>
							</a>
						</div>

						<div class=" col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1" role="button">
							<a href="../practice/onlinetest.html">
								<p id="p2" class="  col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第二章：法律基本概念</p>
								<p class="  col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:40%"></div>
								</div>
							</a>
						</div>
						<div class=" col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p3" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt">第三章：宪法 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"> <span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:20%"></div>
								</div>
							</a>
						</div>
						<div id="asd" class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p4" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt">第四章：人民**法 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second" style="width:17%"></div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p5" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt">第五章：公安机关组织管理条例</p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:2%"></div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p6" class="  col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第六章：人民**使用警械和武器条例 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:11%"></div>
								</div>
							</a>
						</div>
						<div class=" col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p7" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt">第七章：行政处罚法和治安管理处罚法 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:36%"></div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p8" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第八章：办理行政案件程序 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:55%"></div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p9" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第九章：刑法 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:99%"></div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p10" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第十章：办理刑事案件程序 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:100%"></div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p11" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">第十一章：社会主义法治理念 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt"><span class="sp-clr-nub">56</span> / 456<span class="marleft">></span></p>
								<div class="progress-my-second progress-striped-my-second col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
									<div class="progress-bar-my-second progress-bar-success-my-second " style="width:56%"></div>
								</div>
							</a>
						</div>
						
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 padding-0 bordertop">
							<div class="middle-rightbotdiv">
								<p class="middle-rightbotdiv-p"> <span class="glyphicon glyphicon-triangle-bottom sptopdiv">错题练习</span> （本题库所有做错的试题都集中在此处，点击题目类型可针对错题进行练习）</p>
							</div>
							<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p11" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">1 判断题 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt">16<span class="marleft">></span></p>
								
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p11" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">2 单项选择 </p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt">16<span class="marleft">></span></p>
								
							</a>
						</div>
						<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 middle-right-div1">
							<a href="../practice/onlinetest.html">
								<p id="p11" class="col-xs-8 col-lg-9 col-sm-9 col-md-9 middle-right-div1-plt ">3 多项选择</p>
								<p class="col-xs-4 col-lg-3 col-sm-3 col-md-3 middle-right-div1-prt">16<span class="marleft">></span></p>
								
							</a>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		</div>
		<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
	</div>
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-2.0.3.min.js'>" + "<" + "/script>");
		</script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript" language="JavaScript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/practice/exam-jump.js"></script>
		<script type="text/javascript">
		var fds={}
		var a=0
		var b=-5
		var e =0
		fds.le
//			$(document).ready(function(){
//				$(".rscol").mouseover(function(){
//					
//					
//					fds.le =$(this)
//				fds.rsc =$(".rscol").width()
//				fds.txt =$(".rscol").find(".tbsp").width()
//				fds.let=$(this).parent().find(".ple").width()
//				if(fds.let<1){
//					clearTimeout(fds.leid);
//					return
//				}
//					
//					
//					srcle()
//				})
				
				
				$(".middle-right-div1").mousedown(function(){
					$(this).css("background-color","#eeFAFF");
				})
				$(".middle-right-div1").mouseup(function(){
					$(this).css("background-color","#FFFFFF");
				})
				$(".middle-left-btn1").mousedown(function(){
					$(".middle-left-book").css("margin-top","45px")
					$(".middle-left-btn2").css("display","none")
					self.location="exam-center.html";
				});
				if(document.body.clientWidth<768){
					$(".sp-ne").text("点击下列知识点可打开对应章节的试题进行练习");
				}
			});
//			function srcle(){
//				
//					fds.let;
//					fds.rsc;
//					a++;
//					b--;
//					var c=fds.let+b;
//					var d=fds.rsc+a;
//					fds.le.parent().find(".ple").width(c);
//						fds.le.width(d);
//					
//					
//				fds.leid = setTimeout("srcle()",80);
//				if(c==0){
//					e++
//					fds.le.css("margin-left",e+"px")
//					if(e>20){
//						return
//					}
//				}
//			}
			
		</script>
	</body>

</html>