<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../static/css/login.css">
		<script src="../js/respond.js"></script>
		
	
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
				
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/login.js" ></script>
		


	</head>
	<body>
		<!--顶部导航开始-->
		<div id="header" class="header headbg">
		  <div class="container">
				<div class="mrts_phone">
					<p>推送练习统计</p>
					<a href="javascript:history.go(-1);"><i class="glyphicon glyphicon-menu-left"></i>返回</a>
				</div>
			</div>
		</div>
		<!--顶部导航结束-->
		<!--body begin-->
		<div class="container body-box tslx_box">
			<ul class="tslx_main">
				<li>试题推送周期：<span>每天</span></li>
				<li>试题推送标准：<span>8题/天</span></li>
				<li>试题推送数量：<span>424题/53天</span></li>
				<li>实际练习数量：<span><span>224</span>题/<span>53</span>天</li>
				<li>每日练习完成率：<span><span>89%</span></span></li>
			</ul>
			<div class="tslx_line"></div>
			<div class="tslx_tip">
				<p>系统固定在每天7:30进行当日练习试题的推送，当日推送的试题只能当日有效；</p>
				<p>练习过程中答对的题目会与顺序练习的积分相累加，但已经练习并获得积分的题目不重复积分。</p>
			</div>
		</div>
		<!--body end-->
		
		
		<!--footer begin-->
		<div class="footer phone_footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
	</body>
	<script type="text/javascript">
	//点击查看更多之后出现加载图片
	$(document).ready(function(){
		$("#jfph_more a").click(function(){
			$("#jfph_more a").hide();
			$("#jfph_more img").show();
		});
	});
	</script>
</html>
