<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title></title>


		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../static/css/examMng/core.css">
		<link rel="stylesheet" type="text/css" href="../static/css/login.css">
		<link rel="stylesheet" type="text/css" href="../static/css/kalendar.css">
		<script src="../static/js/respond.js"></script>
		
	
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
				
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../static/js/jquery-1.9.1.min.js'>"+"<"+"/script>");
		</script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../static/js/login.js" ></script>
		<script type="text/javascript" src="../static/js/jquery.cookie.js" ></script>
		
		<script type="text/javascript">
		$(document).ready(function(){
			var USERNAME = 'static_login_username';  
			var PASSWORD = 'static_login_password';  
			if( $.cookie(USERNAME) ){  
				$("#username").val( $.cookie(USERNAME) );  
			}
			if( $.cookie(PASSWORD) ){  
				$("#password").val( $.cookie(PASSWORD) );  
			}
			$("#cookie_username").click(function(){  
				if(this.checked){  
					$.cookie(USERNAME, $("#username").val() , { path: '/', expires: 7 });  
					$.cookie(PASSWORD, $("#password").val() , { path: '/', expires: 7 });  
					//var date = new Date();  
					//date.setTime(date.getTime() + (3 * 24 * 60 * 60 * 1000)); //三天后的这个时候过期  
					//$.cookie(COOKIE_NAME, $("#username").val(), { path: '/', expires: date }); 
					window.location.href="login_index";
					
				}else{  
					$.cookie(USERNAME, null, { path: '/' }); //删除cookie  
					$.cookie(PASSWORD, null, { path: '/' }); //删除cookie  
				}  
			});
		});
		</script>
	</head>
	<body>
		<!--head begin-->
		<div class="container login_logo">
			<img src="../static/images/login_logo.png">
		</div>
		<!--head end-->
		
		<!--body begin-->
		<div class="loginbox">
			<div class="row">
				<img class="col-lg-7 col-md-7 col-sm-3 login_pic" src="../static/images/login_pic.png">
				<div class="col-lg-5 col-md-5 rightmain">
					<div class="rightbg"> 
					
						<ul class="login-nav">
							<li id="nav1"><a class="active">考生登录</a></li>
							<li id="nav2"><a>管理员登录</a></li>
						</ul>
						
						<div class="login-main">
							<div class="content-mj" id="login-content1">
								<form>
									<div class="form-group has-feedback">
									  <input id="username" type="text" placeholder="请输入账号" class="form-control" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)">
									  <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
									  <span class="sr-only">(success)</span>
									</div>
									<div class="form-group has-feedback">
									  <input id="password" type="password" placeholder="请输入密码" class="form-control" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)">
									  <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
									  <span class="sr-only">(success)</span>
									</div>
									<div class="checkbox">
									    <label>
									      <input id="cookie_username" type="checkbox">自动登录
									    </label>
									</div>
									<a class="btn btn-success btn-block">登录</a>
								</form>
							</div>
							<div class="content-xj" id="login-content2" style="display:none;">
								<form>
									<div class="form-group has-feedback">
									  <input type="text" value="请输入账号" class="form-control"  style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)">
									  <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
									  <span class="sr-only">(success)</span>
									</div>
									<div class="form-group has-feedback">
									  <input type="password" value="请输入密码" class="form-control" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)">
									  <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
									  <span class="sr-only">(success)</span>
									</div>
									<div class="checkbox">
									    <label>
									      <input type="checkbox">自动登录自动登录
									    </label>
									</div>
									<a class="btn btn-success btn-block">登录</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container notice">
			<div class="row">
				
				<div class="col-lg-6 col-md-6 padding-0-20">
					<div class="inform">
						<p class="marginleft5 overflow">
							<span class="inform_title">系统通知</span>
							<i class="glyphicon glyphicon-volume-up"></i>
						</p>
						<div class="inform_line"></div>
					</div>
					<ul class="inform_main">
						<li class="inform_main_list">
							<span class="inform_num">1</span>
							<a class="inform_tz" href="">关于组织2016年第一次执法资格考初级试的通知</a>
							<span class="inform_date">6月5日</span>
						</li>
						<li class="inform_main_list">
							<span class="inform_num">2</span>
							<a class="inform_tz" href="">关于市局新版执法资格练习考试系统试运行的通知</a>
							<span class="inform_date">6月5日</span>
						</li>
						<li class="inform_main_list">
							<span class="inform_num">3</span>
							<a class="inform_tz" href="">执法资格考试系统积分说明</a>
							<span class="inform_date">6月5日</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--body end-->
		
		
		<!--footer begin-->
		<div class="login_footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
		</div>
		<!--footer end-->
	</body>
</html>
